html {
    background: rgb(57, 57, 57);
    font: normal 14px/1.5 Arial, sans-serif;
    color: #ffffff;
}

h1 {
    font : normal 30px/1.5 Arial, sans-serif;
    color: #7b4b4b;
    text-align: center;
    margin: 0;
}

h2 {
    font : normal 20px/1.5 Arial, sans-serif;
    color: #4b7b4f;
    text-align: center;
    margin: 0;
}

h3 {
    font : normal 16px/1.5 Arial, sans-serif;
    color: #4b4b7b;
    text-align: center;
    margin: 0;
}

h4 {
    font : normal 14px/1.5 Arial, sans-serif;
    color: #7b4b4b;
    text-align: center;
    margin: 0;
}

.education-list {
    font : normal 14px/1.5 Arial, sans-serif;
    list-style-type: style;
    list-style-position: inside;
    color: #7c2424;
    padding: 0;
    margin: 0;
}